<table border="3">
<tr>
  <td>Ref</td>
  <td>username</td>  
   
 <td>Action</td>
</tr>
{% for b in books %}
<tr>
    <td>{{b.Ref}}</td>
    <td>{{b.title}}</td>
    
   
   
    
{% endfor %}
</tr>

</table>